@import '../../vars.scss';

.authorization-page,
.registration-page {
  padding-top: 180px;
  background: $btn-hover;
  height: 100vh;

  .container-auth {
    position: static;
  }

  h3 {
    color: $white;
    text-align: center;
    margin-bottom: 46px;
  }
}
